<html>
    <head>  <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" href="css/style.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link rel="stylesheet" href="css/datecss.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <script src="css/datejs.js"></script>
            <script src="css/datejs-en.js"></script>
                
        </head>
<body>
<div class="container">
  <input type='text' class="datepicker-here"  />
  </div> 
  <div class="container">
    
    <button class="btn btn-primary" id="left"><i class="fas fa-arrow-left"></i></button>
    <button class="btn btn-primary" id="lupa"><i class="fas fa-search"></i></button>
    <button class="btn btn-primary" id="right" disabled= "true"><i class="fas fa-arrow-right"></i></button>
    
</div>
    <div class=" datum" ></div>
    
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                    
            
                        <div class="card-body" id="1">
                          <h5 class="card-title">UCINOICA 1</h5>

                              
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary contact" id="btn1">Zakazi za ucionicu 1</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="2">
                          <h5 class="card-title">UCINOICA 2</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary contact" id="btn2">Zakazi za ucionicu 2</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="3">
                          <h5 class="card-title">UCINOICA 3</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary contact" id="btn3">Zakazi za ucionicu 3</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="4">
                          <h5 class="card-title">UCINOICA 4</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary contact" id="btn4">Zakazi za ucionicu 4</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>

              
           
              <div id="contactForm">

                <h1>Zakazivanje</h1>
                <small></small>
                
                <form action="#">
                  
                  <input placeholder="Profesor" type="text" id="profesor" required />
                  <input placeholder="Pocetak"  type="text"id="11" required />
                  <input placeholder="Kraj" type="text"id="22" required />
                  <textarea placeholder="Komentar" id="komentar"></textarea>
                  <button id="postdugme" class="btn btn-primary">Zakazi</button>
                  
                </form>
              </div>
                
              

               
                
              </form>
             <!-- <input type="text" id="11">
              <input type=" text" id="22">
              <button  class="btn btn-primary" id="postdugme">Submit</button>-->
            
            </div>
            <div class="brisanje">
                <div class="opcija"></div>
            </div>
            

           

                  
                 
                  <script src="css/script.js"></script>
                  <script src="css/forma.js"></script>


</body>


</html>