<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                <link rel="stylesheet" href="css/style.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </head>
<body>


    <div class="container"><h1>BRAKUSONIIIII</h1></div>
    
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="1">
                          <h5 class="card-title">UCINOICA 1</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="2">
                          <h5 class="card-title">UCINOICA 2</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="3">
                          <h5 class="card-title">UCINOICA 3</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
            
                        <div class="card-body" id="4">
                          <h5 class="card-title">UCINOICA 4</h5>
                          
                              <p class="card-text"></p>
                             
                          
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>

                <div class="container">
                    <button class="btn btn-primary" disabled= "true"id="left"><-</button>
                <button class="btn btn-primary" id="right" disabled= "true">-></button>
              </div>
              <div class="forma">
              <form >
                <div class="form-group">
                  <label >Komentar</label>
                  <input  id="komentar"class="form-control"   placeholder="Komentar" name="komentar">
                  <small id="emailHelp" class="form-text text-muted">Dodajte komentar</small>
                </div>
                
                <input type="text" id="timepicker-one" name="timepicker-one" class="timepicker"/>
                <input type="text" id="timepicker-two" name="timepicker-two" class="timepicker"/>
               
                
              </form>
              <button  class="btn btn-primary" id="postdugme">Submit</button>
            </div>
            



                  <script type="text/javascript" src="css/wickedpicker.js"></script>
                 
                  <script src="css/script.js"></script>


</body>


</html>